<h1>My tasks</h1>
<ul>
  <% @tasks.each do |task| %>
    <li class="tasks-line">
      <div class="task_box">
        <span class="check_box">
          <%= form_for(task) do |f|%>
            <%= f.check_box :completed %>
          <% end %>
          <%= link_to task.title, task_path(task), {class: "task_title"} %>
        </span>
        <span class="delete">
          <%= link_to task_path(task), method: :delete do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        </span>
      </div>
    </li>
  <% end %>
</ul>
<%= link_to new_task_path do %>
  <i class="fas fa-plus"></i>
  <span> Add a new task</span>
<% end %>

